/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/luckiestguy/v11/_gP_1RrxsjcxVyin9l9n_j2hTd52ijl7aQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaBTMnFcQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUbOvIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUZevIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUb-vIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevIWzgPDA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAksCUYevIWzgPDA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ============ FONTS END ============ */
/* ============ CSS RESET START ============ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f5fafe;
  font-family: "Mulish", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 400;
  color: #333;
  outline-color: #0a223d;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-bottom: 100px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER START ============ */
.header a {
  transition: 0.3s;
  padding: 10px;
}
.header a:hover,
.header a:focus-within {
  color: #ec1f46;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top {
  padding: 11px 0;
  font-size: 10px;
}
.header-top__left-side {
  display: flex;
  align-items: center;
}
.header-top__left-side p:first-of-type {
  font-weight: 700;
  margin-right: 10px;
}
.header-top__left-side a {
  margin-left: -10px;
}
.header-top__left-side a:hover {
  text-decoration: underline;
}
.header-top__link {
  align-items: center;
}
.header-top__link:last-of-type {
  margin-left: 80px;
  margin-right: -10px;
}
.header-top i {
  margin-right: 20px;
  font-size: 18px;
}
.header-main {
  padding: 30px 0;
  background: #fff;
}
.logo {
  font-family: "Luckiest Guy", serif;
  padding: 10px;
}
.header .logo {
  font-size: 24px;
  margin-right: 90px;
  margin-left: -10px;
}
.logo span {
  color: #ec1f46;
  margin: 0 5px;
}
.header .logo:hover,
.header .logo:focus-within {
  color: #000;
}
.form {
  display: flex;
  align-items: center;
}
.form img {
  width: 12px;
  height: 12px;
}
.input {
  padding: 13.2px 111.4px 13.2px 20px;
  border-radius: 6px 0 0 6px;
  font-size: 12px;
  background: #f5fafe;
  border: none;
  outline-color: hsl(207, 83%, 69%);
}
.btn-form {
  padding: 20px 32.5px;
  color: #fff;
  background: url("../img/search.svg") no-repeat 50% 50%, #ec1f46;
  border-radius: 0 6px 6px 0;
  border: none;
  outline-color: hsl(349, 83%, 30%);
}
.cart {
  background: url("../img/cart.svg") no-repeat 0 0 / cover;
  width: 24px;
  height: 24px;
  padding: 10px;
  position: relative;
  margin-left: auto;
}
.cart::after {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  color: #fff;
  background: #ec1f46;
  border-radius: 50%;
}
.account-menu {
  display: flex;
  align-items: center;
  margin-left: 68px;
}
.account-link {
  align-items: center;
}
.account-link img {
  width: 40px;
  height: 40px;
}
.account-link p {
  font-size: 14px;
  margin-left: 20px;
}
.account-link:hover,
.account-link:focus-within {
  text-decoration: underline;
}
.dropmenu-wrap {
  position: relative;
}
.dropmenu-wrap .arrow {
  margin-right: -10px;
}
.dropmenu {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  visibility: hidden;
  background-color: #fff;
  white-space: nowrap;
}
.drop {
  background-clip: content-box;
  padding-top: 35px;
  right: 0;
  top: 0;
}
.dropmenu-wrap:focus-within > .dropmenu {
  visibility: visible;
  opacity: 1;
}
.dropmenu > li {
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 6px;
}
.dropmenu > li:hover {
  border: 2px solid #0a223d;
}
.header-nav {
  padding: 23px 0;
  background: #0a223d;
  color: #fff;
}
.menu {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu li:first-of-type > a {
  margin-left: -10px;
}
.menu li:last-of-type > a {
  margin-right: -10px;
}
/* ============ HEADER END ============ */

/* ============ BANNER START ============ */
.banner {
  padding-top: 20px;
}
.bread-crumbs {
  margin-bottom: 40px;
  font-size: 10px;
}
.bread-crumbs a {
  transition: 0.3s;
}
.bread-crumbs a:nth-child(n + 2)::before {
  content: "/";
  margin-right: 3px;
  color: #333;
}
.bread-crumbs a:hover,
.bread-crumbs a:focus-within {
  color: #ec1f46;
}
.inscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-rate {
  font-size: 8px;
  color: #f2994a;
  margin-bottom: 5px;
}
.banner-title {
  display: flex;
  align-items: center;
}
.banner-pic-title {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.26;
  transition: 0.1s;
}
.banner-pic-title:hover,
.banner-pic-title:focus-within {
  color: #ec1f46;
  text-decoration: underline;
}
.inscription h3 {
  display: inline-flex;
  background: #ec1f46;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 5.2px 9.1px;
  margin-left: 20px;
}
.mark {
  font-size: 8px;
  background: #ec1f46;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 9.1px 8.7px;
}
.mark p:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 700;
}
.mark p > span {
  font-size: 10px;
}
.banner-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.banner-img-wrap {
  position: relative;
  z-index: 0;
  border-radius: 8px;
  overflow: hidden;
}
.banner-img-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 122, 223, 0.48) 0%,
    rgba(255, 255, 255, 0.128) 100%
  );
}
.banner-hotel-pic {
  width: 728px;
  height: 450px;
  display: block;
  background: #9bc8e9;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.options {
  background: #0a223d;
  border-radius: 8px;
  padding: 27px;
  color: #fff;
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.options-wrap {
  display: flex;
  justify-content: space-between;
}
.options-side {
  display: flex;
  flex-direction: column;
  line-height: 1.36;
}
.options-side > p:first-child {
  font-size: 10px;
}
.options-side > h4 {
  font-size: 24px;
}
.options-side > p:last-child {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.options-side > span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.options-side > span:first-child i {
  margin-left: 2px;
}
.options-side > span:last-child {
  margin-top: 31px;
}
.info-pic {
  font-size: 14px;
  margin-right: 10px;
}
.options-side > span:first-child {
  margin-bottom: 8px;
}
.options-side > span:last-child p {
  font-size: 18px;
  font-weight: 600;
}
.btn-options {
  width: 100%;
  padding: 15.5px 0;
  margin-top: 17px;
  justify-content: center;
  background: #ec1f46;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
.info iframe {
  display: block;
  border-radius: 10px;
}
.info-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 700;
  margin-left: -5px;
  margin-right: -5px;
}
.info-menu a {
  transition: 0.3s;
  padding: 10px 5px 15px 5px;
  border-bottom: 4px solid transparent;
}
.info-menu a:hover,
.info-menu a:focus-within {
  color: #ec1f46;
  border-bottom: 4px solid #ec1f46;
}
.list-sm-wrap {
  display: flex;
  justify-content: space-between;
}
.list {
  margin-top: 30px;
  width: 48.5%;
  background: #fff;
  border-radius: 4px 4px 8px 8px;
}
.list li {
  display: inline-flex;
  align-items: center;
}
.list-sm {
  columns: 2;
}
.list-sm li:nth-child(n + 2) {
  margin-top: 23.6px;
}
.list-sm li:nth-child(4) {
  margin-top: 0;
}
.list-left-part {
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  height: 100%;
}
.list-left-part li {
  margin-bottom: 10px;
  align-items: flex-start;
}
.list-left-part p {
  font-style: italic;
  margin-top: auto;
}
.list-lg {
  width: 100%;
}
.list-content.list-content-lg {
  padding: 38px 25px 58px 25px;
}
.list-title {
  background: #0a223d;
  padding: 18.2px 25px;
  color: #fff;
  border-radius: 4px 4px 0px 0px;
  font-size: 14px;
  font-weight: 700;
}
.list-content {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.list-content i {
  font-size: 18px;
  margin-right: 20px;
}
.list-subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #ec1f46;
  margin-bottom: 20px;
}
.sublist {
  display: flex;
  flex-direction: column;
  width: 266px;
}
.sublist ul {
  display: flex;
  flex-direction: column;
}
.sublist li:nth-last-child(n + 2) {
  margin-bottom: 20px;
}
.list-lg .sublist:nth-child(n + 4) {
  margin-top: 80px;
}
/* ============ BANNER END ============ */

/* ============ PACKAGES START ============ */
.cards {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ============ BIG CARD ============ */
.wide-card {
  width: 730px;
  height: 500px;
  background: #0a223d;
  display: flex;
  border-radius: 8px;
  margin-top: 30px;
}
.wide-card .card-img__wrap {
  width: 50%;
}
.wide-card .card-img__wrap::before {
  font-size: 12px;
  padding: 9.3px 17.7px;
}
.wide-card img {
  width: 100%;
  height: 500px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}
.wide-card .card-content {
  padding: 45px 20px 30px 45px;
  width: 50%;
}
.wide-card .star-rate {
  display: block;
  margin-bottom: 10px;
}
.wide-card .card-description {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  margin-top: auto;
  margin-bottom: 50px;
}
/* ============ BIG CARD ============ */

/* ============ SMALL CARD ============ */
.card {
  background: #0a223d;
  width: 350px;
  border-radius: 8px;
  margin-top: 30px;
}
.card-img__wrap {
  position: relative;
  z-index: 0;
}
.card-img__wrap::before {
  content: "Flash offer";
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 1;
  padding: 5px 10.1px;
  border-radius: 0 4px 4px 0;
  background: #ec1f46;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
}
.card img {
  width: 350px;
  height: 250px;
  border-radius: 8px 8px 0 0;
  position: relative;
  background: #046d99;
}
.card-content {
  padding: 30px 20px 30px 30px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
  color: #fff;
}
.card .star-rate {
  display: none;
}
.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 27px;
}
.card-description {
  display: none;
}
.card-info {
  margin-top: auto;
  margin-bottom: 25px;
}
.card-info li {
  display: flex;
}
.card-info li:nth-child(n + 2) {
  margin-top: 12px;
}
.card-info li:first-child i {
  padding-left: 2px;
  margin-right: 16px;
}
.card-info li:nth-child(2) i {
  padding-left: 1px;
  margin-right: 15px;
}
.card-info i {
  font-size: 14px;
  margin-right: 13px;
}
.card-content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}
.cut-price {
  font-size: 14px;
  margin-bottom: 7px;
  text-decoration: line-through;
}
.card-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.26;
}
.btn-card {
  font-size: 14px;
  font-weight: 600;
  padding: 13.1px 26.1px;
  border-radius: 4px;
  background: #ec1f46;
}
/* ============ SMALL CARD ============ */

/* ============ PACKAGES END ============ */

/* ============ REVIEW START ============ */
.feedback-wrap {
  position: relative;
}
.slider-arrow-back,
.slider-arrow-forward {
  position: absolute;
  padding: 10px;
  top: 228px;
  font-size: 18px;
  color: #828282;
  z-index: 1;
  cursor: pointer;
}
.slider-arrow-back {
  left: 5px;
}
.slider-arrow-forward {
  right: 5px;
}
.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  background: #fff;
  padding: 15px 100px 30px 100px;
  margin: 115px auto 0 auto;
  position: relative;
  z-index: 0;
}
.review-card::before {
  content: "";
  background: url("../img/quotes.svg") no-repeat;
  position: absolute;
  top: 13px;
  left: 65px;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.review-card::after {
  content: "";
  position: absolute;
  background: url("../img/quotes-reverse.svg") no-repeat;
  top: 120px;
  left: 595px;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.review-card p {
  text-align: justify;
  line-height: 1.6;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 30px;
}
.profile-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}
.profile-card h3 {
  font-weight: 700;
  color: #ec1f46;
}
.profile-card p {
  font-size: 10px;
  margin-top: 12px;
  margin-bottom: 5px;
}
/* ============ REVIEW END ============ */

/* ============ CTA START ============ */
.cta {
  padding-top: 100px;
  background: linear-gradient(rgba(10, 34, 61, 0.8), rgba(10, 34, 61, 0.8)),
    url("../img/background.webp") no-repeat 0 0 / cover;
}
.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 66%;
  margin: 0 auto;
}
.cta-title {
  color: #fff;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 300;
  display: inline-flex;
  flex-direction: column;
}
.cta-title span {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.26;
  margin-top: 5px;
}
.send-email .input {
  padding: 19.1px 82.6px 19.1px 33px;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
}
.btn-send {
  padding: 21.5px 18px;
  background: #ec1f46;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
}
/* ============ CTA END ============ */

/* ============ ACTIVITIES START ============ */
.activities {
  padding-top: 60px;
}
.activities-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.activity-card {
  position: relative;
  color: #fff;
}
.activity-card img {
  width: 255px;
  height: 255px;
  border-radius: 6px;
}
.activity-img__wrap {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 0;
}
.activity-img__wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 35.34%,
    #0a223d 99.85%
  );
}
.activities-content {
  position: absolute;
  top: 143px;
  padding: 0 39px 0 27px;
}
.activities-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1.25;
}
.btn-activities {
  padding: 8.2px 16.1px;
  font-size: 12px;
}
/* ============ ACTIVITIES END ============ */

/* ============ FOOTER START ============ */
.footer {
  padding: 100px 0 55px 0;
  background: #0a223d;
  color: #bdbdbd;
  font-size: 14px;
}
.footer .logo {
  display: inline-block;
  font-size: 64px;
  margin-top: -19px;
  width: 172px;
  margin-left: -10px;
  color: #fff;
}
.footer .logo span {
  margin-left: 0;
}
.footer h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer li {
  line-height: 1.6;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer-top a {
  transition: 0.3s;
}
.footer-top a:hover,
.footer-top a:focus-within {
  color: #ec1f46;
}
.footer-social-networks {
  display: flex;
  align-items: center;
  margin-top: 23px;
}
.footer-social-networks ul {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.footer-social-networks li:nth-child(n + 2) a {
  background: #bdbdbd;
  color: #0a223d;
  padding: 5px;
  margin-left: 15px;
  border-radius: 50%;
}
.footer-social-networks a:hover {
  background: #ec1f46;
}
.footer-social-networks h2 {
  margin-bottom: 0;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
}
.footer-contact ul {
  margin-top: 20px;
}
.footer-contact a {
  transition: 0.1s;
}
.footer-contact a:hover,
.footer-contact a:focus-within {
  color: #ec1f46;
  text-decoration: underline;
}
.footer-contact__info li {
  display: flex;
  align-items: center;
}
.footer-contact__info li:nth-child(2) {
  align-items: baseline;
  margin: 30px 0;
}
.footer .info-pic {
  font-size: 18px;
  margin-right: 20px;
}
.footer-contact__info li:first-child i {
  margin-left: 3px;
}
/* ============ FOOTER END ============ */
