/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/luckiestguy/v11/_gP_1RrxsjcxVyin9l9n_j2hTd52ijl7aQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk0QotYKNnBcif.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptvg83HX_SGhgqk3wotYKNnBQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaBTMnFcQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUbOvIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUZevIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUb-vIWzgPDEtj.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevIWzgPDA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAksCUYevIWzgPDA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ============ FONTS END ============ */
/* ============ CSS RESET START ============ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f5fafe;
  font-family: "Mulish", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 400;
  color: #333;
  outline-color: #0a223d;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER START ============ */
.header a {
  transition: 0.3s;
  padding: 10px;
}
.header a:hover,
.header a:focus-within {
  color: #ec1f46;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top {
  padding: 11px 0;
  font-size: 10px;
}
.header-top__left-side {
  display: flex;
  align-items: center;
}
.header-top__left-side p:first-of-type {
  font-weight: 700;
  margin-right: 10px;
}
.header-top__left-side a {
  padding-left: 0;
}
.header-top__left-side a:hover {
  text-decoration: underline;
}
.header-top__link {
  align-items: center;
}
.header-top__link:last-of-type {
  margin-left: 80px;
  padding-right: 0;
}
.header-top img {
  margin-right: 20px;
  width: 18px;
  height: 18px;
}
.header-main {
  padding: 30px 0;
  background: #fff;
}
.header .logo {
  font-family: "Luckiest Guy", serif;
  font-size: 24px;
  margin-right: 90px;
  padding: 10px 10px 10px 0;
}
.logo span {
  color: #ec1f46;
  margin: 0 5px;
}
.header .logo:hover,
.header .logo:focus-within {
  color: #000;
}
.search {
  display: flex;
  align-items: center;
}
.search img {
  width: 12px;
  height: 12px;
}
.input {
  padding: 13.5px 112px 13.5px 20px;
  border-radius: 6px 0 0 6px;
  font-size: 12px;
  background: #f5fafe;
  border: none;
  outline-color: hsl(207, 83%, 69%);
}
.btn-form {
  padding: 12.3px 26.5px;
  color: #fff;
  background: #ec1f46;
  border-radius: 0 6px 6px 0;
  border: none;
  outline-color: hsl(349, 83%, 30%);
}
.cart {
  padding: 10px;
  position: relative;
  margin-left: auto;
}
.cart::after {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: #ec1f46;
  border-radius: 50%;
}
.cart img {
  width: 24px;
  height: 24px;
}
.accaunt-menu {
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.accaunt-link {
  align-items: center;
}
.accaunt-link img {
  width: 40px;
  height: 40px;
}
.accaunt-link p {
  font-size: 14px;
  margin-left: 20px;
}
.accaunt-link:hover,
.accaunt-link:focus-within {
  text-decoration: underline;
}
.dropmenu-wrap {
  position: relative;
}
.dropmenu-wrap .arrow {
  padding-right: 0;
}
.dropmenu {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  visibility: hidden;
  background-color: #fff;
  white-space: nowrap;
}
.drop {
  background-clip: content-box;
  padding-top: 35px;
  right: 0;
  top: 0;
}
.dropmenu-wrap:focus-within > .dropmenu {
  visibility: visible;
  opacity: 1;
}
.dropmenu > li {
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 6px;
}
.dropmenu > li:hover {
  border: 2px solid #0a223d;
}
.header-nav {
  padding: 23px 0;
  background: #0a223d;
  color: #fff;
}
.menu {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu li:first-of-type > a {
  padding-left: 0;
}
.menu li:last-of-type > a {
  padding-right: 0;
}
/* ============ HEADER END ============ */

/* ============ HER0 START ============ */
.hero-section {
  padding: 20px 0 70px 0;
}
.path-links {
  margin-bottom: 40px;
  font-size: 10px;
}
.path-links a {
  transition: 0.3s;
}
.path-links a:nth-child(n + 2)::before {
  content: "/";
  margin-right: 3px;
  color: #333;
}
.path-links a:hover,
.path-links a:focus-within {
  color: #ec1f46;
}
.star-rate {
  font-size: 8px;
  color: #f2994a;
}
.inscription {
  display: flex;
  align-items: center;
}
.hero-pic-title {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.26;
  transition: 0.3s;
}
.hero-pic-title:hover,
.hero-pic-title:focus-within {
  color: #ec1f46;
  text-decoration: underline;
}
.inscription > span {
  margin: 0 auto 0 20px;
  background: #ec1f46;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 5.1px 9.1px;
}
.mark {
  font-size: 8px;
  background: #ec1f46;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 9.1px 8.7px;
}
.mark p:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 700;
}
.mark p > span {
  font-size: 10px;
}
.hero-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.hotel-photo {
  background: linear-gradient(
      180deg,
      rgba(0, 122, 223, 0.48),
      rgba(255, 255, 255, 0.128)
    ),
    url("../img/main.webp") no-repeat 0 0 / cover;
  width: 728px;
  height: 450px;
  border-radius: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info img {
  width: 347px;
  height: 213px;
  border-radius: 10px;
}
.options {
  background: #0a223d;
  border-radius: 8px;
  padding: 27px;
  color: #fff;
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.options-wrap {
  display: flex;
  justify-content: space-between;
}
.options-side {
  display: flex;
  flex-direction: column;
  line-height: 1.36;
}
.options-side img {
  width: 14px;
  height: 14px;
}
.options-side > p:first-child {
  font-size: 10px;
}
.options-side > p:nth-child(2) {
  font-size: 24px;
}
.options-side > p:last-child {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.options-side > span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.options-side > span:last-child {
  margin-top: 31px;
}
.options-side > span:first-child p {
  margin-left: 10px;
  margin-bottom: 8px;
}
.options-side > span:last-child p {
  font-size: 18px;
  font-weight: 600;
}
.btn-options {
  width: 100%;
  padding: 15px 0;
  margin-top: 17px;
  justify-content: center;
  background: #ec1f46;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
/* ============ HER0 END ============ */
